body {
/*    -webkit-column-fill: auto;
    -webkit-column-gap: 40px;
    -moz-column-width: 300px;
    -moz-column-gap: 40px;
    height: 120px;*/
    -webkit-column-width: 300px;
    -moz-column-fill: auto;
    padding: 0 20px;
    text-align: justify;
    width: auto;
}