.menu {
  z-index: 4;
  width: 100%;
  min-height: 2em;
  background-color:green;
  position: absolute;
  transition-property: opacity;
  transition-duration: 1s;
  text-align: center;
  color: white;
}

#info_ini {
 display:none;
}

#info_display {
  color: white;
  z-index: 10;
  position: absolute;
  top: 50%;
  text-align: center;
  opacity:0.8;
  background-color: green;
  width:100%;
  display:block;

  -webkit-transition: all 700ms cubic-bezier(0.250, 0.250, 0.750, 0.750); 
    -moz-transition: all 700ms cubic-bezier(0.250, 0.250, 0.750, 0.750); 
      -o-transition: all 700ms cubic-bezier(0.250, 0.250, 0.750, 0.750); 
        transition: all 700ms cubic-bezier(0.250, 0.250, 0.750, 0.750); 

  -webkit-transition-timing-function: cubic-bezier(0.250, 0.250, 0.750, 0.750); 
    -moz-transition-timing-function: cubic-bezier(0.250, 0.250, 0.750, 0.750); 
      -o-transition-timing-function: cubic-bezier(0.250, 0.250, 0.750, 0.750); 
        transition-timing-function: cubic-bezier(0.250, 0.250, 0.750, 0.750);
}

#info_none {
  color: white;
  z-index: 10;
  position: absolute;
  top: 50%;
  text-align: center;
  background-color: green;
  width:100%;
  opacity:0;
  
    -webkit-transition: all 700ms cubic-bezier(0.250, 0.250, 0.750, 0.750); 
    -moz-transition: all 700ms cubic-bezier(0.250, 0.250, 0.750, 0.750); 
      -o-transition: all 700ms cubic-bezier(0.250, 0.250, 0.750, 0.750); 
        transition: all 700ms cubic-bezier(0.250, 0.250, 0.750, 0.750); 

  -webkit-transition-timing-function: cubic-bezier(0.250, 0.250, 0.750, 0.750); 
    -moz-transition-timing-function: cubic-bezier(0.250, 0.250, 0.750, 0.750); 
      -o-transition-timing-function: cubic-bezier(0.250, 0.250, 0.750, 0.750); 
        transition-timing-function: cubic-bezier(0.250, 0.250, 0.750, 0.750);

}

.menu:hover {
  /* Unhide the menu when the mouse hovers on it*/
  opacity: 1;
}

.menu.hidden_text {
  color: green;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.top {
  position: absolute;
  top: 0;
}

.bottom {
  position: absolute;
  bottom: 0;
}

.menu_height {
  padding: .5em;
  width: 1em;
  height: 1em;
  cursor: pointer;
}

/**
 * Drop down menu
 */

.drop_down_menu ul {
  background-color: green;
  list-style: none;
  position: absolute;
  min-width: 15vw;
  max-width: 30vw;
  transition-property: height;
  transition-duration: 1s;
  overflow-y: hidden;
}

.drop_down_menu li {
  display: block;
  text-align: right;
  padding: 1pt;
}

.drop_down_menu input {
  width: 2em;
  background-color: green;
  border: none;
  color: white;
  padding: 0;
  margin: 0;
  text-align: right;
}

.folded_up {
  height: 0;
}

.unfolded_up {
  height: 3em;
}

.right > .drop_down_menu ul {
  right: 0;
}

.top > .drop_down_menu ul {
  top: 1em;
}

.fade_inout {
  transition-property: opacity;
  transition-duration: 1s;
}

/**
 * Buttons
 */
span.button {
  box-shadow: 2px 2px darkgreen;
  transform: translate(-1px, -1px);
  width: 1em;
  height: 1em;
  padding: 0;
  margin: 0;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  background-color: rgb(0, 140, 0);
}

span.button.lowered {
  box-shadow: none;
  transform: translate(0, 0);
}
