html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow:hidden;
    background-color: white;
}

.bookviewer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    overflow: hidden;
    margin: none;
}


.arrow {
    position: absolute;
    bottom: 0;
    z-index: 5;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.menu {
    width: 100%;
    height: 2em;
    background-color:green;
    position: absolute;
    transition: opacity 1s;
    text-align: center;
    color: white;
}

.top {
    top: 0;
}

.bottom {
    bottom: 0;
}

.hidden {
    opacity: 0;
}
