[submodule "lib/zip.js"]
	path = lib/zip.js
	url = https://github.com/gildas-lormeau/zip.js.git
[submodule "lib/lie"]
	path = lib/lie
	url = https://github.com/calvinmetcalf/lie
[submodule "lib/Font-Awesome"]
	path = lib/Font-Awesome
	url = https://github.com/FortAwesome/Font-Awesome.git
