[submodule "lib/readium"]
	path = lib/readium
	url = https://github.com/readium/readium-js-viewer.git
[submodule "lib/finderjs"]
	path = lib/finderjs
	url = https://github.com/applait/finderjs.git
[submodule "lib/zip.js"]
	path = lib/zip.js
	url = https://github.com/gildas-lormeau/zip.js.git
