/**
 * General CSS file, shared by all platforms.
 */

html, body {
    width: calc(100% - 1em);
    height: calc(100% - 1em);
    margin: 0;
    max-width: none;
}

body {
/* Support pages as columns. */
    -moz-column-fill: auto;
    -moz-column-gap: 40px;
    -webkit-column-fill: auto;
    -webkit-column-gap: 40px;

/* Nice justification for the book. */
    text-align: justify;
    hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
}

img {
  max-width: 100%;
  max-height: 100%;
}
