/**
 * Custom CSS file for Firefox OS 1.3, to work around a bug in padding
 * + columns.
 */

html, body {
  -moz-column-gap: 0;
  width: 100%;
  height: calc(100% - 1em);
  margin: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-top: .5em !important;
  padding-bottom: .5em !important;
  max-width: none !important;
}

body > * {
  padding-left: 1em;
  padding-right: 1em;
}
