/**
 * General CSS file, shared by all platforms.
 */

html, body {
  width : 100%;
  margin: 0;
  max-width: none;
}

html {
  height: 100%;
}

body {
  height: calc(100% - 2em);
  padding: 2em !important;
  padding: 2em !important;

/* Support pages as columns. */
  -moz-column-fill: auto;
  -moz-column-gap: 0;
  -moz-column-count: 1;
  -moz-column-rule: 1px solid black;

  -webkit-column-fill: auto;
  -webkit-column-gap: 0;
  -webkit-column-count: 1;
  -webkit-column-rule: 1px solid black;

  column-fill: auto;
  column-gap: 8em;
  column-count: 1;
  column-rule: 1px solid black;

  padding-left: 0 !important;
  padding-right: 0 !important;

/* Nice justification for the book. */
  text-align: justify;
  hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
}

#lector_root {
/* Margins in pages */
  margin-left: 2em;
  margin-right: 2em;
}

img {
  max-width: calc(100vw - 4em);
  max-height: calc(100vh - 2em);
}

#lector_root > * {
/* Workaround for a bug in gitbook (Calibre?) ebooks,
   which cannot be displayed properly due to a
   `overflow:hidden` directive. */
  overflow: visible !important;
}

* {
  transition-property: color;
  transition-duration: 1s;
}

html, body {
  transition-property: background-color;
  transition-duration: 1s;
}
