html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    max-width: none;
}

body {
    -moz-column-fill: auto;
    -moz-column-gap: 40px;
    -webkit-column-fill: auto;
    -webkit-column-gap: 40px;
    text-align: justify;
}